<form [formGroup]="productForm">
  <div class="form-container d-flex flex-column align-items-center justify-content-start m-4">
    <legend class="text-center">{{pageTitle}}</legend>
      <mat-form-field appearance="outline" class="my-2 w-50">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="productForm.get('name')?.errors">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="my-2 w-50">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error>Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="my-2 w-50">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="value" mask="separator.2" thousandSeparator=".">
        <mat-error *ngIf="productForm.get('value')?.errors">{{getErrorMessage('value')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="my-2 w-50">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantity" mask="9990">
        <mat-error *ngIf="productForm.get('quantity')?.errors">{{getErrorMessage('quantity')}}</mat-error>
      </mat-form-field>
    <div class="d-flex align-items-center justify-content-center">
      <button mat-raised-button color="primary" class="m-2" (click)="submitForm()"
        [disabled]="productForm.invalid">Salvar</button>
      <button mat-raised-button color="warn" (click)="cancelForm()">Cancelar</button>
    </div>
  </div>
</form>
