.header-content{
  padding: 20px 0;
}

.spacer {
  flex: 1 1 auto;
}

.menu-lg{
  display: block;
}

.menu-sm{
  display: none;
}

@media (max-width: 680px) {
  .menu-sm{
    margin: 20px;
    display: block;
    background-color: dimgrey;
  }

  .menu-lg{
    display: none;
  }
}
